.theme-select {
  position: absolute;
  top: 6px;
  left: 6px;
}

label {
  margin-right: 5px;
  font-size: 0.9rem;
  font-weight: bold;
}

select {
  font-weight: bold;
  padding: 3px;
  cursor: pointer;
  outline: none;
  transition: background-color 0.2s ease, color 0.2s ease;
}

option {
  font-weight: bold;
}
